extends layoutEmployee
block content
  .row.banner
    .col-12
      h1 Goals
  .row
    .col-12.col-md-8
      .card
        .card-body
          h3 Goal Progress
          each goal in employee.goals
            - var styleWidth = "width:" + goal.progress.toString() + "%";
            - var progressNumber = goal.progress.toString();
            .row
              label.col-3(for="goalProgress") 🔥 <strong>#{goal.name}</strong>
              .progress.col-9
                .progress-bar.progress-bar-striped.progress-bar-animated.bg-primary(role='progressbar', style=styleWidth, aria-valuenow=progressNumber, aria-valuemin='0', aria-valuemax='100') #{goal.progress}
      .card
        .card-body
          h3 Goal Descriptions
          each goal in employee.goals
            .row
              label.col-12(for="goalDescription") <strong>#{goal.name}:</strong> #{goal.description}
      .card
        .card-body
          h3 Set A New Goal!
          form.form-horizontal(action=`/employees/${employee._id}/goals/add` method="POST")
            .form-group
              label.control-label(for="name") Goal Name
              input.form-control(type="text" name="name")
            .form-group
              label.control-label(for="description") Goal Description
              textarea.form-control(name="description")
            .form-group
                .slidecontainer
                  label.control-label(for="progress") Percentage Complete:&nbsp
                  span#percent
                  span %
                  input.form-control.slider(type='range', min='0', max='90', value='0' id='myRange' name="progress")
                  
                script.
                  var slider = document.getElementById("myRange");
                  var output = document.getElementById("percent");
                  output.innerHTML = slider.value;
                  slider.oninput = function() {
                  output.innerHTML = this.value;
                  }
            button.btn.btn-primary.col-3(type='submit') Submit
    .col-12.col-md-4
      p.lead &#129409 "Work hard for what you want because it won't come to you without a fight. You have to be strong and courageous and know that you can do anything you put your mind to. If somebody puts you down or criticizes you, just keep on believing in yourself and turn it into something positive."
      span -Leah LaBelle<br><br>
      .card
        .card-body
          h3 Accomplished Goals
          form.form-horizontal
            .form-group
              each accomplishedGoal in employee.goals
                if accomplishedGoal.progress === 100
                  h6 ☑️ #{accomplishedGoal.name}
            
    
  //- .row
  //-   .col-3
  //-     a.button.btn.btn-primary(href=`/employees/${employee._id}/goals/add`) Add A New Goal!
