extends layoutEmployee
block content
  
  .row.banner
    .col-12
      h1 #{employee.firstName} #{employee.lastName}
  .row
    .col-12.col-md-8
        .card
          .card-body
            h3 Bio
            span
              | <strong>Position:</strong> #{employee.position} <br>
              
              | <strong>Hire Date:</strong> #{employee.hireDate.toDateString()} <br><br>
            p #{employee.biography} <br>
        .card
          .card-body
            h3 Accomplishments
            .accomplishments
              each accomplishment in employee.accomplishments
                span.badge.badge-pill(data-title=accomplishment)= accomplishment
            .progress
              .progress-bar(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100') Customer Service
              .progress-bar.bg-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100') Production
              .progress-bar.bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100') Knowledge
        .card
          .card-body
            h3 Feedback
            each feedback in employee.feedback
              .card-inner
                .card-header
                  span &#129408 #{feedback.author}
                .card-body
                  .feedback
                    p #{feedback.comment}        
    .col-12.col-md-4
      p.lead &#129409 "To be a champion, I think you have to see the big picture. It's not about winning and losing; it's about every day hard work and about thriving on a challenge. It's about embracing the pain that you'll experience at the end of a race and not being afraid. I think people think too hard and get afraid of a certain challenge."
      span -Summer Sanders<br><br>
      .card
        .card-body
          h3 
            a(href=`/employees/${employee._id}/goals`) Goals
          each goal in employee.goals
            - var styleWidth = "width:" + goal.progress.toString() + "%";
            - var progressNumber = goal.progress.toString();
            .row
              .col-12
                .progress
                  .progress-bar.progress-bar-striped.progress-bar-animated.bg-primary(role='progressbar', style=styleWidth, aria-valuenow=progressNumber, aria-valuemin='0', aria-valuemax='100') #{goal.name}
      .card
        .card-body
          h3 Compliments
          p "#{employee.firstName} is always extemely so helpful when I come in to shop. #{employee.firstName}'s excellent customer service is what keeps me coming back!"
      .row.no-gutters
        .col-6.col-md-6.custom-right
          .card
            .card-body
              <img src="/images/cut_001.jpg" alt="Mountain" style="width: 100%">
        .col-6.col-md-6.custom-left
          .card
            .card-body
              <img src="/images/cut_002.jpg" alt="Mountain" style="width: 100%">
        .col-6.col-md-6.custom-right
          .card
            .card-body
              <img src="/images/cut_003.jpg" alt="Mountain" style="width: 100%">
        .col-6.col-md-6.custom-left
          .card
            .card-body
              <img src="/images/cut_004.jpg" alt="Mountain" style="width: 100%">
        .col-6.col-md-6.custom-right
          .card
            .card-body
              <img src="/images/cut_005.jpg" alt="Mountain" style="width: 100%">
        .col-6.col-md-6.custom-left
          .card
            .card-body
              <img src="/images/cut_006.jpg" alt="Mountain" style="width: 100%">
      
