extends layoutManager
block content
  .row.banner
    .col-12
      h1 #{employee.firstName}'s Goals
  .row
    .col-12.col-md-8
      .card
        .card-body
          h3 Goal Progress
          form.form-horizontal(action=`/managers/employees/${employee._id}/goals` method="POST")
            each goal in employee.goals
              - var styleWidth = "width:" + goal.progress.toString() + "%";
              - var progressNumber = goal.progress.toString();
                .form-group
                  .row
                    label.col-3(for="goalProgress") 🔥 #{goal.name}
                    .progress.col-6
                      .progress-bar.progress-bar-striped.progress-bar-animated.bg-primary(role='progressbar', style=styleWidth, aria-valuenow=progressNumber, aria-valuemin='0', aria-valuemax='100') #{goal.progress}%
                    input.form-control.col-2(for="progress" name="progress" type="number" value=goal.progress min=goal.progress max="100")     
            button.btn.btn-danger.col-3.offset-3(type="submit") [+]              
      .card
        .card-body
          h3 Goal Descriptions
          each goal in employee.goals
            .row
              label.col-12(for="goalDescription") <strong>#{goal.name}:</strong> #{goal.description}
    .col-12.col-md-4
      p.lead &#129409 "Work hard for what you want because it won't come to you without a fight. You have to be strong and courageous and know that you can do anything you put your mind to. If somebody puts you down or criticizes you, just keep on believing in yourself and turn it into something positive."
      span -Leah LaBelle<br><br>
      .card
        .card-body
          h3 Accomplished Goals
          form.form-horizontal
            .form-group
              each accomplishedGoal in employee.goals
                if accomplishedGoal.progress === 100
                  h6 ☑️ #{accomplishedGoal.name}
